<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Document</title>
   <link rel="stylesheet" href="login.css">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
   <div class="container">
       <div class="ligne1">
           <div class="haut row">
               <img class="img2 " src="goldarmor/poisson.jpg" alt="">
               <img class="img2 imgTop" src="goldarmor/bélier.jpg" alt="">
               <img class="img2 " src="goldarmor/taureau.jpg" alt="">
           </div>
       </div>
       <div class="ligne2 row">
           <div class="gauche column1">
               <img class="img2" src="goldarmor/verseau.jpg" alt="">
               <img class="img2 imgLeft" src="goldarmor/Capricorne.jpg" alt="">
               <img class="img2" src="goldarmor/sagittaire.jpg" alt="">
           </div>
           <div class="card middle">
               <div class="front">
                   <img class="img" src="athena.jpg" alt="">
               </div>
               <div class="back">
                   <div class="back-content ">
                       <div class="login-box">
                           <h1>Login</h1>
                           <div class="textbox">
                               <i class = "fa fa-user" aria-hidden = "true"></i>
                               <input type="text" placeholder="Username" name="" value="">
                           </div>
                           <div class="textbox">
                               <i class = "fa fa-lock" aria-hidden = "true"></i>
                               <input type="password" placeholder="Password" name="" value="">
                           </div>
                           <input class="btn" type="button" name="" value="Sign In">
                           <input type="checkbox" name="choix" id="choix" />
                           <label for="subscribeNews">Remember me?</label>
                       </div>
                   </div>
               </div>
           </div>
           <div class="droite column2">
               <img class="img2" src="goldarmor/gémeau.jpg" alt="">
               <img class="img2 imgRight" src="goldarmor/cancer.jpg" alt="">
               <img class="img2" src="goldarmor/lion.jpg" alt="">
           </div>
       </div>
       <div class="ligne3">
           <div class="bas row">
               <img class="img2" src="goldarmor/scorpion.jpg" alt="">
               <img class="img2 imgDown" src="goldarmor/balance.jpg" alt="">
               <img class="img2" src="goldarmor/vierge.jpg" alt="">
           </div>
       </div>
   </div>
</body>
</html>